<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90CABF5B1DA6409800CB37F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90CABF6F1DA6409900CB37F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90CABF7A1DA6409900CB37F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
